# --- Python & Environnement ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# --- TensorFlow & Modèles ---
*.h5
*.keras
checkpoint/
saved_model/
*.tflite

# --- Données ---
# Le dataset Fashion-MNIST est téléchargé via Keras, 
# Au cas où des dossiers de data :
data/
datasets/

# --- IDE & Système ---
.ipynb_checkpoints
.vscode/
.idea/
.spyproject/
.spyderproject/
.DS_Store
Thumbs.db

# --- Résultats & Logs ---
logs/
results/*.png
results/*.jpg
